body {
  background: #f7f2f2;
}

h3 {
  margin: 9px auto;
  margin-left: 2px;
}

.scroll-area {
  overflow-x: auto;
	display: block;
}

.table {
  width: 100%;
  border: 1px solid #737373;
  border-collapse: collapse;
}

tbody > tr > td {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

th {
  border: 1px solid #737373;
  padding: 5px;
  font-size: 1.1em;
}

th.taskname {
  text-align: left;
  max-width: 25%;
  background: white;
}

th:hover {
  background: mistyrose;
}

thead, thead > tr > th:first-child:hover {
  background: white;
}

th:hover a {
  color: #c13030;
}

a {
  text-decoration: none;
  color: black;
}

td {
  border: 1px solid #737373;
}

.content {
  max-width: 90%;
  margin: auto;
}

.select {
  margin: 30px 5px;
  display: flex;

}

.css-10nd86i {
  width: 80%;
}

.css-xp4uvy {
  font-size: 1.2em;
  font-weight: bold;
}

.checked {
  background: #86fb86;
  color: #86fb86;
}

.checked:hover {
  color: #adadad;
}

.failed {
  background: #c13030;
}

.inProgress {
  background: #f7f768;
}

.checking {
  background: #c130309c;
}

.toDo {
  background: #a5a4a4;
}
